h1 {
	text-align: center;
	color: #FFFFFF;
	background: #0099CC;
}

h5 {
	color: brown;
	margin-left: 50px;
	font-family: monospace;
}

dl {
	color: brown;
	margin-left: 50px;
}

dt {
	font-weight: bold;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 5px;
	margin-left: 50px;
}

td {
	text-align: center;
}

.t1 {
	text-indent: 25px;
}
.t2 {
	text-indent: 50px;
}
.t3 {
	text-indent: 75px;
}
.t4 {
	text-indent: 100px;
}

.info {
	color: green;
}

.warn {
	color: red;
}
