/* simple example for demonstration */
* { background-color: #fcccdb }
QTableWidget { background-color: #ffffff; alternate-background-color: #f0f0f0; selection-background-color: #fcccdb; selection-color: #000000 }
QDateTimeEdit { background-color: #ffffff }
QSpinBox { background-color: #ffffff }
QLineEdit { background-color: #ffffff }
